<link rel="stylesheet" href="../css/style.css">
<article>

    <h1>{{name}} {{username}}</h1>
    <p><span>Adres Email: </span> {{email}}</p>
    <p><span>Numer Telefonu:</span> {{phone}}</p>
    <p><span>Firma:</span> {{name}}<br />

    </p>
    <p>Adress:<br />
        <span>miasto:</span> {{address.city}}<br>
        <span>ulica:</span> {{address.street}}<br>
        <span>numer:</span> {{address.suite}}<br>
        <span>kod pocztowy:</span> {{address.zipcode}}
    </p>
    <a href="/users"> wstecz</a>

</article>